.title {
  font-weight: 600;
  color: #B21922;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;

}

.titleA {
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;


}

.titleV {
  font-weight: 600;
  color: #027634;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;


}

.content {
  line-height: 1.7;
  font-size: 17px;


}

.iruk {
  color: #F39200;
  text-decoration: none;
}

.blue {
  color: #1D71B8;
  text-decoration: none;
}