.titleO {
  font-weight: 600;
  color: #F38F1A;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;
}

.titleB {
  font-weight: 600;
  color: #364899;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;


}

.content {
  line-height: 1.7;
  font-size: 17px;


}

.green {
  color: #00A19A;
  text-decoration: none;
  font-weight: 700;
}

.oranger {
  color: #F39200;
  text-decoration: none;
  font-weight: 900;
}

.blue {
  color: #0684B0;
}

.bold {
  font-size: 17px;
  font-weight: 900;
}