.title {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;


}

.content {
  line-height: 1.7;
  font-size: 17px;


}

.span {
  color: #ff4f00;
}

.iruk {
  color: #FF6700;
  text-decoration: none;
}

.href {
  color: #8F00FF;
  text-decoration: none;
}

.bold {
  font-weight: 900;
}