.titleO {
  font-weight: 600;
  color: #F38F1A;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;
}

.titleB {
  font-weight: 600;
  color: #1D71B8;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;


}

.content {
  line-height: 1.7;
  font-size: 17px;

}

.violet {
  color: #951B81;
  text-decoration: none;
  font-weight: 700;
}

.blue {
  color: #1D71B8;
  text-decoration: none;
}

.list {
  list-style: none;
  line-height: 1.8;
  font-size: 17px;


}

.bold {
  font-size: 17px;
  font-weight: 900;
}