.titleV {
  font-weight: 600;
  color: #662483;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;

}

.titleB {
  font-weight: 600;
  color: #1D71B8;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;


}

.list {
  list-style: none;
  line-height: 1.8;
  font-size: 17px;


}

.content {
  line-height: 1.7;
  font-size: 17px;


}

.pink {
  color: #E71D73;
  text-decoration: none;
}

.green {
  color: #39B49D;
  text-decoration: none;
}

.blue {
  color: #1D71B8;
  text-decoration: none;
}

.bold {
  font-size: 17px;
  font-weight: 900;
}