.content {
  line-height: 1.7;
  font-size: 17px;
}


.orange {
  font-size: 18px;
  color: #E56816;
  font-weight: 600;
}

.bigorange {
  padding: 7px;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: 2px solid #E56816;
  border-radius: 2em;
  color: #E56816;
  font-weight: 600;
  font-size: 22px;
}

.blue {
  color: #2F5497;
  font-weight: 600;
}

.bold {
  font-weight: 600;
  line-height: 1.7;
  font-size: 17px;
}