.title {
  font-weight: 600;
  color: #00A19A;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;

}

.content {
  line-height: 1.7;
  font-size: 17px;

}

.iruk {
  color: #00948d;
  text-decoration: none;
}

.bold {
  font-weight: 900;
}

.link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.home {
  color: #FF6700;
  text-decoration: none;
}