.title {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;

}

.content {
  line-height: 1.7;
  font-size: 17px;
}

.arrow {
  width: 4%;
  margin: 10px;
  vertical-align: middle;

}

.titlee {
  color: #EF4635;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 20px;

}