.content {
  line-height: 1.7;
  font-size: 17px;
}

.green {
  color: #3aaa35;
  text-decoration: none;
}

.blue {
  color: #0057a5;
  text-decoration: none;
}

.numlist {
  font-size: 18px;
  font-weight: 700;
}