.title {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;

}


.content {
  line-height: 1.7;
  font-size: 17px;


}

.ai {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 40px;
  justify-content: center;


}

.list {
  list-style: none;
  line-height: 1.8;
  font-size: 17px;


}

.stat {
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  max-width: 90%;

}

.content1 {
  text-align: left;
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
}

.span {
  color: #ff4f00;
}

.titlev {
  font-size: 19px;
  color: #5715a2;
  font-weight: 600;


}

.href {
  color: #FF6700;
  text-decoration: none;
}