.container {
  width: 80%;
  margin: auto;
}



@media (max-width: 600px) {
  .title {
    font-size: 17px;
  }
}

.content {
  line-height: 1.7;
  font-size: 17px;
}

@media (max-width: 600px) {
  .content {
    font-size: 15px;
  }
}

.span {
  font-size: 22px;
}

.oranger {
  color: #E46615;
  text-decoration: none;
  font-weight: 600;
}

.spanB {
  text-align: left;
  color: #0057a5;
  font-size: 25px;
}

.bold {
  font-weight: 600;
  line-height: 1.7;
  font-size: 17px;
}

.numlist {
  font-size: 18px;
  font-weight: 700;
}