.titleP {
  font-weight: 600;
  color: #DF308A;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;
}



.content {
  line-height: 1.7;
  font-size: 17px;
}


.green {
  color: #00A19A;
  text-decoration: none;
}

.blue {
  color: #1D71B8;
  text-decoration: none;
}