.container {
    width: 80%;
    margin: auto;
}

.title {
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 19px;
}



.content {
    line-height: 1.7;
    font-size: 17px;
}


.span {
    font-weight: 700;
    font-size: 18px;
}

.oranger {
    color: #E46615;
    text-decoration: none;
    font-weight: 600;
}

.pink {
    color: #e71d73;
    font-size: 22px;
    font-weight: 600;
}

.bold {
    font-weight: 600;
    line-height: 1.7;
    font-size: 17px;
}

.numlist {
    font-size: 19px;
    font-weight: 700;
}