.container {
  width: 80%;
  margin: auto;
}





.content {
  line-height: 1.7;
  font-size: 17px;
}


.span {
  font-size: 22px;
}

.blue {
  color: #0658a5;
  font-weight: 600;
}

.oranger {
  color: #E46615;
  text-decoration: none;
  font-weight: 400;
}

.spanO {
  text-align: left;
  color: #ed6b1d;
  font-size: 25px;
  font-weight: 500;
}

.bold {
  font-weight: 600;
  line-height: 1.7;
  font-size: 17px;
}

.numlist {
  font-size: 18px;
  font-weight: 700;
}