.title {
  font-weight: 600;
  color: #82368C;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;


}

.titleB {
  color: #27348B;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;

}

.content {
  line-height: 1.7;
  font-size: 17px;


}

.iruk {
  color: #27348B;
  text-decoration: none;
}

.bold {
  font-weight: 900;
}