.content {
  line-height: 1.7;
  font-size: 17px;


}

.span {
  font-size: 22px;
}

.spanB {
  text-align: left;
  color: #0057a5;
  font-size: 22px;
}

.spanG {
  color: '#3aaa35';
  font-size: 22px;
}

.green {
  color: #3aaa35;
  text-decoration: none;
}

.blue {
  color: #0057a5;
  text-decoration: none;
}

.numlist {
  font-size: 18px;
  font-weight: 700;
}