@media screen and (max-width: 600px) {
  .title {
    font-size: 17px;
  }
}

.titleV {
  font-weight: 600;
  color: #00A19A;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;


}

.content {
  line-height: 1.7;
  font-size: 17px;


}

.green {
  color: #00A19A;
  text-decoration: none;
}

.orange {
  color: #F39200;
  text-decoration: none;
}

.bold {
  font-size: 17px;
  font-weight: 700;
}