.container {
  width: 80%;
  margin: auto;
}

.title {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;


}

.content {
  line-height: 1.7;
  font-size: 17px;


}

.blueTitle {
  font-weight: 600;
  margin-bottom: 10px;
  color: #00308F;
  margin-top: 30px;
  font-size: 19px;

}

.span {
  color: #ff4f00;
}

.iruk {
  color: #FF6700;
  text-decoration: none;
}

.bold {
  font-size: 17px;
  color: #000;
  font-weight: 600;
  text-decoration: none;


}