.title {
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 19px;

}



.content {
  line-height: 1.7;
  font-size: 17px;

}

.list {
  list-style: none;
  line-height: 1.8;
  font-size: 17px;


}

.numlist {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;


}

.stat {
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  max-width: 90%;


}

.content1 {
  text-align: left;
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;


}

.span {
  color: #ff4f00;
}