* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins';

}

*:focus {
  outline: none !important;
}

input[type='radio']:focus {
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 0px;
}

.sidebar {
  padding: 4em;
  position: fixed;
  left: 5%;
}



.menu {
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 3px;
  background-color: black;
  transition: width .5s ease-in-out;
}

.menu:hover:after {
  width: 10%;
}


.link {
  cursor: pointer;
}

.text-white.link {
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  border-radius: 20em;
}


html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

.page {
  position: relative;
  z-index: 0;
  animation: slide-in-right 0.5s ease-in-out forwards;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    background-color: #fff;
  }

  100% {
    transform: translateX(0%);

  }
}

.circle {
  position: absolute;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

.left-side {
  width: 100px;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0;
  background-color: transparent;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hamburger {
  cursor: pointer;
}



.right-side {
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  right: 0;
  display: inline-block;
  align-items: center;
  width: 100px;
  background-color: transparent;
  position: fixed;
}

.products-wrapper {
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 87%;
  margin: auto;

}


.service-wrapper {
  padding: 0;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.career-container {
  justify-content: center;
  width: 87%;
  margin: auto;
  overflow-x: hidden;
}

.contact-title {
  font-size: 30px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.underlined {
  border-bottom: 4px solid #797FE8;
}

.location {
  color: white;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}



.service-tel {
  width: 102.4vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: #00000029 1px solid;
  overflow: hidden;
}



.service-tel-image {
  position: relative;
  justify-content: center;
  display: inline-block;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  transition: all 0.3s ease-in-out;
  padding: 3em;
  justify-content: center;
}

.tel-image {
  width: 250px;
  height: 250px;
  transition: all 0.3s ease-in-out;
}

.service-tel-image:hover {
  transition: all 0.3s ease-in-out;
  border-radius: 0%;
  min-width: 100%;
  width: 620px;
  height: 760px;

}


.service-tel-image .tel-image {
  transition: all 0.3s ease-in-out;
}

.tel-text {
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  color: black;
  transform: translateY(500%);
  text-align: center;
  cursor: pointer;

}

.service-dev {
  height: 30em;
  width: 102.4vw;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: #00000029 1px solid;
  overflow: hidden;
}

.service-dev-image {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  transition: all 0.3s ease-in-out;
  padding: 3em;
  justify-content: center;
  align-items: center;
}

.dev-image {
  width: 220px;
  height: 220px;
  transition: all 0.3s ease-in-out;
}

.service-dev-image:hover {
  transition: all 0.3s ease-in-out;
  border-radius: 0%;
  width: 490px;
  height: 500px;
}



.service-dev-text {
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  color: black;
  transform: translateY(100%);
  text-align: center;

}

.product {
  height: 50vh;
  width: 20em;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: #00000029 1px solid;
  overflow-y: hidden;
  overflow: hidden;
}

.product-image {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition: all 0.3s ease-in-out;
  overflow-y: hidden;
}

.image {
  width: 120px;
  height: 150px;
  transition: all 0.3s ease-in-out;
}

.product-image:hover {
  transition: all 0.3s ease-in-out;
  border-radius: 0%;
  width: 335px;
  height: 360px;
}


.product-image:hover .image {
  transition: all 0.3s ease-in-out;
  transform: translate(-50%, -100%);

}

.career {
  height: 50vh;
  width: 20em;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: #00000029 1px solid;
  overflow: hidden;
}

.career-image {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  transition: all 0.3s ease-in-out;
  overflow-y: hidden;
  padding: 3em;
}


.career-image:hover {
  transition: all 0.3s ease-in-out;
  border-radius: 0%;
  width: 520px;
  height: 460px;
  padding: 6em;
}

.career-text {
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  color: black;
  transform: translateY(10%);
  text-align: center;
}

.text {
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  color: black;
  transform: translateY(80%);
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  z-index: 9;
  padding: 10px 20px;
  align-items: center;
  background: rgba(255, 255, 255, 0) !important;
  position: absolute;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  top: 0;
}

.contact_form {
  background-color: #c9cdff;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  margin: auto;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact {
  background-color: #c9cdff;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  margin: auto;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact_wrapper {
  margin: auto;
  justify-content: space-between;
  align-items: center;
  width: 150em;
  padding: 8em;
  position: relative;
}

.wrapper {
  margin: auto;
  justify-content: center;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.tel {
  background-color: #FFBF90;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.candidate {
  height: 100vh;
  color: white;
  align-items: center;
  margin: auto;
  justify-content: center;
  position: relative;
  z-index: 0;
  margin-left: 8%;
  padding: 4em;
  animation: slide-in-right 0.3s ease-in-out forwards;
}

.candidate-form {
  align-items: center;
  text-align: left;
  padding: 3%;
  box-shadow: 0px 3px 6px #00000029;
}

.dev {
  background-color: #C9CDFF;
  height: 100vh;
  width: 100vw;
  color: white;

}


.contact-button {
  background-color: #000;
  border-radius: 0px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.contact-div {
  box-shadow: 0px 3px 6px #00000029;
  padding: 2%;
  line-height: 2em;
  margin-top: 3em;
}


.text-white {
  color: white;
}


.link-hover {
  color: white;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}

.link-hover:hover {
  color: #053DF7;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}


.techstack {
  margin: 3%;
  margin-bottom: 2em;
}



.title {
  color: #E56817;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.contentTitle {
  color: #E56817;
  font-weight: 700;
  font-size: 20px;
}

.top {
  display: flex;
  align-items: center;
}

.number {
  font-weight: 700;
  font-size: 40px;
  color: #E56817;
  margin-right: 10px;
}


.wrapper1 {
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  align-items: center;
  text-align: left;
  margin: auto;
  padding: 4em;
  position: relative;
}

.wrapper2 {
  align-items: center;
  text-align: left;
  margin: auto;
  border-bottom: 1px solid #000;
  padding: 4em;
  border-right: 1px solid #000;
  position: relative;
}

.wrapper3 {
  align-items: center;
  text-align: left;
  margin: auto;
  border-bottom: 1px solid #000;
  padding: 4em;
  border-left: 1px solid #000;
}

.wrapper4 {
  align-items: center;
  text-align: left;
  margin: auto;
  border-bottom: 1px solid #000;
  padding: 4em;
  border-right: 1px solid #000;
}

.wrapper5 {
  align-items: center;
  text-align: left;
  margin: auto;
  border-bottom: 1px solid #000;
  padding: 4em;
  border-left: 1px solid #000;
  position: relative;
}

.slider {
  padding: 5%;
  background: white;
  text-align: left;
  width: 80%;
  position: absolute;
  top: 0%;
  right: 0;
  padding-top: 8em;
  z-index: 99;
}


.workflow {
  margin-top: 5em;
  margin-bottom: 5em;
}

.wrapper_home {
  margin: auto;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title_home {
  color: #fff;
  padding-top: 10%;
  text-transform: uppercase;
}

.bg_sm {
  border-radius: 10px;
  background: url("/assets/icons/bg_sm.svg") no-repeat center center;
  padding: 15px;
  text-align: center;
  margin: auto;
  background-size: contain;
  justify-content: center;
  align-items: center;
}

.bg_sm_landing {
  padding: 2em;
  border-radius: 10px;
  background: url("/assets/icons/bg_sm.svg") no-repeat center center;
  transform: rotate(-90deg) translate(-50%, -10%);
  padding: 10px;
  text-align: center;
  margin: auto auto;
  background-size: contain;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.sm_icons {
  transform: rotate(90deg);
}

.languages {
  text-align: center;
  justify-content: center;
  font-size: 5px;
}

.details_contact {
  height: 30em;
  width: 90em;
  font-size: 15px;
  text-align: right;
}

.contact_btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
}

@media screen and (max-width:600px) {
  .title_home {
    font-size: 25px;
  }
}

@media screen and (max-width:1280px) {
  .service-dev {
    align-items: center;
    justify-content: center;
    margin: auto;
  }



}

@media screen and (min-width:1540px) {
  .contact_wrapper {
    position: absolute;
    margin: auto;
    top: 10%;
    left: 10%;
  }

  .service-tel-image:hover {
    width: 620px;
    height: 910px;
  }

  .service-tel {
    width: 103.9vw;
  }

  .service-dev {
    width: 103.9vw;
  }
}

@media screen and (max-width:960px) {
  .navbar {
    width: 100vw;
  }

  .service-tel {
    height: 400px;

  }

  .service-tel-image:hover {
    width: 320px;
    height: 400px;

  }

  .service-dev {
    width: 400px;
    height: 340px;
  }

  .service-dev-image:hover {
    width: 400px;
    height: 340px;
  }


  .main_content {
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 3.2em;
  }

  .products-wrapper {
    width: 100%;
    overflow-x: hidden;
    margin-top: 3.3em;
  }
}

.main {
  overflow-x: hidden;
}




@media screen and (max-width: 768px) {

  .wrapper_home {
    margin: auto;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .left-side,
  .right-side {
    display: none;

  }

  .languages {
    text-align: center;
    justify-content: center;
    font-size: 5px;
    margin: auto;
  }

  .details_contact {
    font-size: 15px;
  }

  .location {
    font-size: 30px;
  }

  .slider {
    width: 100%;

  }

  .contact_wrapper {
    width: 100%;
    overflow: hidden;
  }

  .contact {
    height: 100%;
  }

  .service-wrapper {
    width: 100%;
  }

  .back_arrow {
    position: absolute;
    right: 4%;
    top: 10%;
  }

  .back_arrow_terms {
    position: absolute;
    right: 4%;
    top: 4em;
  }

  .values {
    font-size: 13px;
    line-height: 1.3em;
    margin-top: -7em;
  }

  h1 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  .product-image:hover {
    width: 500px;
    height: 500px;
  }


  .contact_form {
    height: 110vh;
  }

  .career-container {
    margin-top: 3.2em;
    width: 100%;
  }

  .product_description {
    padding-top: 2em;
  }

  .candidate {
    margin-top: 4em;
    padding: 0;
    margin-left: 0;
  }

}


.product_container {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100vh;
  position: fixed;
}


@media screen and (max-width: 376px) {
  .text-white {
    font-size: smaller;
  }

}

@media screen and (max-width: 2048px) {

  .menu_slider {
    padding-top: 6em;
  }

}

@media screen and (min-width: 2048px) {

  .menu_wrapper {
    padding-top: 8em;
  }

  .menu_slider {
    height: 120vh;
  }

  .service-tel {
    width: 830px;
    height: 1020px;
  }

  .service-tel-image:hover {
    width: 830px;
    height: 1020px;

  }

  .service-dev-image:hover {
    width: 500px;
    height: 500px;
  }

  .product-image:hover {
    width: 500px;
    height: 600px;
    padding-top: 7em;
  }

  .career-image:hover {
    width: 520px;
    height: 520px;
  }

  .slider {
    padding: 5%;
    background: white;
    text-align: left;
    width: 90%;
    position: absolute;
    top: 0%;
    right: -7%;

  }

  .career-text {
    margin-bottom: 5em;
    margin-top: 2em;
  }
}