.title {
  font-weight: 600;
  color: #683C11;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;


}

.titleA {
  font-weight: 600;
  color: #E0AB6C;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;

}

.content {
  line-height: 1.7;
  font-size: 17px;

}

.iruk {
  color: #F39200;
  text-decoration: none;
}

.green {
  color: #22B092;
  text-decoration: none;
}

.bold {
  font-weight: 900;
}