.title {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 19px;
}

.content {
  line-height: 1.7;
  font-size: 17px;
}

.arrow {
  width: 3%;
  margin: 10px;
  vertical-align: middle;
}

.titlee {
  color: #EF4635;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 20px;

}

.content1 {
  text-align: left;
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;

}

.span {
  color: #ff4f00;
}

.titlev {
  font-size: 19px;
  color: #5715a2;
  font-weight: 600;
}

.href {
  color: #FF6700;
  text-decoration: none;
}